.titleStart {
    width: 287px;
    height: 24px;
    position: absolute;
    top:506px;
    left:48px;
    /* 16 / Semi Bold */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height */
    text-align: center;

    /* Neutral / 5 */
    color: #F5F5FA;
}

h2 {
    position: relative;
    width: 287px;
    height: 42px;
    top:542px;
    left: 48px;
    /* 14 / Regular */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    
    /* Neutral / 5 */
    color: #F5F5FA;
}