.intro {
	background-image: url("Cover.png");
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	width: 375px;
	height: 812px;
	z-index: 4;
	background-color: rgb(53, 40, 179);
	background-position: center center;
}