.selectionContainer {
    display: flex;
    flex-direction:column;


}
.personalizationSuggestions {
    width: 189px;
height: 24px;
position: relative;
top:25.1vh;
left:10vw;
/* 16 / Semi Bold */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

/* identical to box height */

/* Neutral / 5 */
color: #F5F5FA;


/* Inside auto layout */
  
order: 0;
flex-grow: 1;
}

.textPersonalize {
    /* Choose min. 3 topics you like, we will give you more often that relate to it. */
position: relative;
top:23vh;
left: 10vw;
width: 287px;
height: 42px;

/* 14 / Regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;

/* Neutral / 5 */
color: #F5F5FA;


/* Inside auto layout */
 
 
flex-grow: 0;
}