

.cardDisplay {
    /* Card Best Seller */
    box-sizing:border-box;
position: relative;
top:245px;
left: 20px;
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 8px;

width: 335px;
height: 104px;

/* Neutral / 100 */
background: #0F0F29;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}