.welcome {
   

    /* 16 / Semi Bold */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height */

    /* Primary / 20 */
    color: #BBB1FA;
}

.find {
    position: absolute;
    width: 279px;
    height: 174px;
    left: 48px;
    top: 236px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 250;
    font-size: 48px;
    line-height: 120%;

    /* or 58px */

    /* Neutral/White */
    color: #FFFFFF;
}

.message {
    margin-top: 16px;
    position: absolute;
    width: 279px;
    height: 42px;
    left: 48px;
    top: 426px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    /* Primary / 20 */
    color: #BBB1FA;
}

