.canvas {
    position: relative;
    width: 375px;
    height: 812px;
    background: #0F0F29;

    overflow: hidden;
}

.circleBackground {
    background: #1c1c4d;

    position: absolute;
    top: 90px;
    left: 290px;
    width: 134px;
    height: 134px;
    border-radius: 50%;

}

.archBackground {
    background: #1c1c4d;

    position: absolute;
    top: -291px;
    left: -224px;
    width: 448px;
    height: 448px;
    border-radius: 50%;
}

.archBackgroundSmall {
    background: #0F0F29;

    position: absolute;
    top: -291px;
    left: -224px;
    width: 398px;
    height: 388px;
    border-radius: 50%;
}

img {
    position: absolute;
    width: 260px;
    height: 260px;
    left: 57px;
    top: 222px;
}