.skipBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 12px;

    position: absolute;
    width: 140px;
    height: 56px;
    left: 63px;
    top: 676px;

    /* Primary / 50 */
    background: 0F0F29;
    border-radius: 8px;
    width: 34px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.wrapBtns {
    display: flex;
    text-decoration: none;
}
.wrapBtnsPersonalization {
    display: flex;
    
    position:absolute;

    margin:auto;
}
.nextBtn {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 12px;

    position: absolute;
    width: 140px;
    height: 56px;
    left: 195px;
    top: 676px;

    /* Primary / 50 */
    background: #4838D1;
    border-radius: 8px;

    width: 76px;
    height: 24px;

    /* 16 / Medium */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height */
    text-align: center;

    /* Neutral/White */
    color: #FFFFFF;
}

.letsStart {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 12px;

    position: absolute;
    width: 295px;
    height: 56px;
    left: 40px;
    top: 676px;

    /* Primary / 50 */
    background: #4838D1;
    border-radius: 8px;
    width: 231px;
    height: 24px;

    /* 16 / Medium */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height */
    text-align: center;

    /* Neutral/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.personalizeBtnWelcome {
    /* Button */
    text-decoration:none;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 12px;

    width: 295px;
    height: 56px;

    /* Primary / 50 */
    background: #4838D1;
    border-radius: 8px;

    position:absolute;
    width: 231px;
    height: 24px;
    top:516px;
    left: 40px;

    /* 16 / Medium */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height */
    text-align: center;

    /* Neutral/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}
.skipBtnPersonalization {
    /* Button */
    text-decoration:none;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 12px;

    width: 295px;
    height: 56px;

    /* Primary / 50 */
   
    border-radius: 8px;
    position:relative;
    width: 231px;
    height: 24px;
    top:85vh;
    left:10.6vw;
    margin-top: 16px;

    
    /* 16 / Medium */
    border:1px solid white;
    border-radius:8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height */
    text-align: center;

    /* Neutral/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.personalizeBtnSubmit {
    /* Button */
    text-decoration:none;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 12px;
    width: 295px;
    height: 56px;
    background: #4838D1;
    border-radius: 8px;
    position:absolute;
    width: 231px;
    height: 24px;
    top:76.23vh;
    left: 10.6vw;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.skipBtnWelcome {
    /* Button */
    text-decoration:none;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 12px;

    width: 295px;
    height: 56px;

    /* Primary / 50 */
   
    border-radius: 8px;
    position:absolute;
    width: 231px;
    height: 24px;
    top:588px;
    left:40px;
    margin-top: 16px;

    
    /* 16 / Medium */
    border:1px solid white;
    border-radius:8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height */
    text-align: center;

    /* Neutral/White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.finishBtn {
      /* Button */
      text-decoration:none;
      /* Auto layout */
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px 32px;
      gap: 12px;
  
      width: 295px;
      height: 56px;
  
      /* Primary / 50 */
      background: #4838D1;
      border-radius: 8px;
  
      position:absolute;
      width: 231px;
      height: 24px;
      top:608px;
      left: 40px;
  
      /* 16 / Medium */
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
  
      /* identical to box height */
      text-align: center;
  
      /* Neutral/White */
      color: #FFFFFF;
  
  
      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 1;
}