.carousel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    position: absolute;
    width: 60px;
    height: 12px;
    left: 158px;
    top: 624px;
}

.dots {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    /* Primary / 50 */
    background: #4838D1;

    /* Inside auto layout */
    flex: none;
     
    flex-grow: 0;
}

.dotsNotSelected {
    border-radius: 50%;
    width: 12px;
    height: 12px;

    /* Neutral / 80 */
    background: #2E2E5D;

    /* Inside auto layout */
    flex: none;
    
    flex-grow: 0;
}