.nav {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    position: absolute;
    justify-content:flex-start;
    align-items:flex-end;
    position: absolute;
    padding-left:28px;
     
width: 375px;
height: 88px;
left: 0px;
top: 0px;

/* Neutral / 100 */
background: #0F0F29;
}

.label {

    margin:8px;
    width: 73px;
    height: 29px;
   
   
    top: 46px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    /* identical to box height */

    /* Neutral/White */
    color: #FFFFFF;
}

.lookingGlass {

    
    top: 46px;
    width: 40px;
    height: 40px;
     
    top: 46px;

    background-image: url("./image.png");
}