.navPlayer {
    /* Header / Detail Page */

position: absolute;
width: 375px;
height: 88px;
left: 0px;
top: 0px;

/* Neutral / 100 */
background: #0F0F29;

}

.arrowLeft > img {
    
    position: absolute;
left: 14.4%;
width:9px;
height:16px; 
top: 66%;
bottom: 16.67%;


/* Neutral/White */
background: #ffffff00;
}

.titleBox {
    /* Page Tittle */

position: absolute;

overflow: hidden;
width: 222px;
height: 24px;
left: 20%;
top: 61%;

/* 16 / Medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

/* identical to box height */
text-align: center;

/* Neutral/White */
color: #FFFFFF;
 
}

.threeDots {

    display: flex;
    flex-direction: row;
    width:2.4px;
    list-style:none;
    position: absolute;
    left:75.4% ;
    top:48.6%

}
.threeDots li::before {
    content: "• ";
    color: rgb(245, 244, 244);

}
