form {
    /* Input */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 20px;
    
    margin-top:12px;
   
     

    width: 100%;
    height: 32px;

    /* Neutral / 90 */
    background: #1C1C4D;
    border-radius: 8px;
     

    /* Inside auto layout */
    
    order: 1;
    flex-grow: 0;
}

label {
    /* My Books */
     
    width: 115px;
    height: 36px;
     
    width: 100%;
     
    padding: 5px;
    /* 24 / Semi Bold */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    
    /* identical to box height */

    /* Neutral / 5 */
    color: #F5F5FA;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input {
    /* Label */
    

    width: 175px;
    height: 21px;
     
    padding: 5px;
    /* 14 / Medium */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border:0px;
    /* identical to box height */

    /* Neutral / 60 */
    color: #6A6A8B;
    background: #1C1C4D;
     
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.formBox {
    box-sizing: border-box;
    position:absolute;
    top:128px;
    left:20px;
    height:101px;
    width: 295px;
}
.formBoxSearch{
    box-sizing: border-box;
    position:absolute;
    top:10.66vh;
    left:20px;
    height:101px;
    width: 255px;
 
    position:absolute;
    
    top:38vh;
    left:10.6vw;
}