.playerButtons {
    
position: relative;
width: 92px;
height: 24px;
left: 0px;
top: 70vh;
}

.titlePlayed {
    overflow: hidden;
    position: absolute;
    width: 284px;
    height: 30px;
    left: 38px;
    top: 479px;
    
    /* 20 / Medium */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    
    /* identical to box height */
    
    /* Neutral/White */
    color: #FFFFFF;
}
.authorPlayer {
    /* J.K. Rowling */

position: absolute;
width: 92px;
height: 24px;
left: 38px;
top: 513px;

/* 16 / Regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

/* identical to box height */

/* Neutral/White */
color: #FFFFFF;

opacity: 0.5;
}