
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;600;700&display=swap');
  @import-normalize;

#root {
  
  position: absolute;
  /* top: 50%; right: 50%;transform:translate(-50%,  -50%); */
  align-items: center;
  
  justify-content: center;
  
  font-family: 'Poppins',sans-serif;
  background: red;
}

.App {
top:0;
  position: relative;
}
